@{
    ViewData["Title"] = "Memberships Details";
}
<section class="services"><div class="container">
    <h2 class="section-title">Memberships Details</h2>
    <a class="btn btn-secondary" asp-area="Admin" asp-controller="Memberships" asp-action="Index">Back to List</a>
</div></section>
