@{
    ViewData["Title"] = "Products Details";
}
<section class="services"><div class="container">
    <h2 class="section-title">Products Details</h2>
    <a class="btn btn-secondary" asp-area="Admin" asp-controller="Products" asp-action="Index">Back to List</a>
</div></section>
