@{
    ViewData["Title"] = "Orders";
}
<section class="services"><div class="container">
    <h2 class="section-title">Orders</h2>
    <a class="btn btn-secondary" asp-area="Admin" asp-controller="Orders" asp-action="Index">Back to Orders</a>
</div></section>
