@{
    ViewData["Title"] = "Orders";
}
<section class="services"><div class="container">
    <h2 class="section-title">Orders</h2>
    <a class="btn btn-secondary" href="/">Go Home</a>
</div></section>
