@{
    ViewData["Title"] = "Services Details";
}
<section class="services"><div class="container">
    <h2 class="section-title">Services Details</h2>
    <a class="btn btn-secondary" asp-area="Admin" asp-controller="Services" asp-action="Index">Back to List</a>
</div></section>
